li {
  padding: 3px;
  margin: 8px;
  color: white;
  font-size: 19px;
  text-align: left;
  margin-left: 40%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  color: white;
  font-family: monospace;
}

body {
  text-align: center;
  background-image: url(/assets/images/burger.jpg);
  background-position: top;
  background-size: 30%;
  color: aliceblue;
  background-color: darkslategrey;
  background-repeat: no-repeat;
}


hh1 {
  color: aliceblue;
  margin-left: 0%;
}

.text {
  font-size: 11px;
  margin-top: 0%;
}

h2 {
  font-size: 17px;
  color: fuchsia;
  margin-left: 0%;
}

.change-devoured {
  margin-left: 1.5%;
}

/* .delete-burger{
  margin-left: 8%;
} */